# PostgreSQL database URL
DATABASE_URL=postgresql://neondb_owner:your_password@ep-aged-water-adbp7t8k-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require

# JWT secret key
JWT_SECRET_KEY=your_jwt_secret

# n8n webhook URL 
N8N_WEBHOOK_URL=http://n8n:5678/webhook/assignment
